/* Write your CSS here */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.background-container {
  background-color: #f1f5f8;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #2d3a35;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Roboto';
}
.span-style {
  color: #c20a72;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Roboto';
}

.para {
  color: #2d3a35;
  font-size: 25px;
  font-family: 'Roboto';
}
.button {
  background-color: #007bff;
  color: #ffffff;
  height: 60px;
  width: 100px;
  font-size: 18px;
  border-width: 0px;
  border-radius: 5px;
}
